.Button1Container {
  width: 100%;
  margin: 30px 0;
}

    .Button1 {
      margin: 0 auto;
      padding: 5px;
      width: 200px;
      border-radius: 10px;
      font-size: 18px;
      color: black;
      background-color: white;
    }
        .Button1:hover {
          background-color: #1A1B41;
        }
            .Button1:hover a{
              color: #BAFF29;
            }
