.RecipeBox {
  height: 300px;
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

    .resultsSearch {
      background-color: pink;
    }
    .favouriteRecipes {
      background-color: blue;
    }

        .title {
          font-size: 15px;
        }

        .recipeImage {
          max-height: 150px;
          max-width: 75px;
        }
