.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #1A1B41;
}

    .App-title {
      padding: 2vh 0;
      font-size: 50px;
      color: white;
    }

    .Nav {
      display: flex;
      justify-content: space-around;
      padding-bottom: 5vh;
    }

        .NavLinks {
          transition: .5s;
          padding: 4px;
          width: 200px;
          max-width: 23%;
          height: 50px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #F1FFE7;
          color: #1A1B41;
          font-size: 18px;
        }
        .NavLinks:hover {
          transition: .5s;
          background-color: #1A1B41;
          color: #F1FFE7;
          font-size: 22px;
        }

        .FormView {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
